.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.labelCreation {
  display: flex;
  display: block;
  margin-left: 20%;
  margin-top: 10%;
  font-size: 140%;
  color: #ffffff;
  height: 20%;
}

.inputCreation {
  display: flex;
  display: block;
  margin-left: 15%;
  height: 20%;
  width: 70%;
  font-size: 140%;
  color: #ffffff;
  border-radius: 6px;
  border-color: #942d29;
  background-color: #942d29;
}

.spanCreation {
  display: flex;
  display: block;
  color: rgb(181, 35, 35);
  font-size: 100%;
  margin-bottom: 10%;
  margin-left: 15%;
}

.button {
  margin-top: 7%;
  margin-left: 17%;
  margin-right: 15%;
}

.menuButton {
  position: fixed;
  top: 0;
  left: 0;
  margin: 2%; 
}
